#menu{
  position: fixed;
  top: 0;
  left: 0;
  z-index:1;
}
#menu .toggle{
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  width: 50px;
  height: 50px;
  opacity: 0;
  cursor: pointer;
}
#menu .hamberger{
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 20px;
  height: 20px;
  padding: 1rem;
  background: rgba(0, 0, 0, 0);
  display: flex;
  align-items: center;
  justify-content: center;
}
#menu .hamberger > div{
  position: relative;
  /* flex: none; */
  width: 100%;
  height: 2px;
  z-index: 1;
  background: rgb(255, 8, 8);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.4s ease;

}
#menu .hamberger > div::before, 
#menu .hamberger > div::after{
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  top: -8px;
  background: rgb(255, 8, 8);
}
#menu .hamberger > div::after{
  top: 8px;
}
#menu .toggle:checked + .hamberger > div{
  transform: rotate(135deg);
}
#menu .toggle:checked + .hamberger > div::before, 
#menu .toggle:checked + .hamberger > div::after {
  top: 0;
  transform: rotate(90deg);
}
#menu .toggle:checked:hover + .hamberger > div{
  transform: rotate(225deg);
}
#menu .toggle:checked ~ .menubox {
  visibility: visible;
}
#menu .toggle:checked ~ .menubox > div{
  transform: scale(1);
  transition-duration: 0.5s;
}
#menu .menubox{
  position: fixed;
  top: 0;
  width:100%;
  height: 100%;
  visibility: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#menu .menubox > div{
  background: rgba(0, 0, 0, 0.8) ;
  border-radius: 50%;
  width: 200vw;
  height: 200vh;
  transform: scale(0);
  display: flex;
  flex: none;
  align-items: center;
  justify-content: center;
}
.menubox ul li {
  padding: 1rem;
  font-size: 1.2rem;
  text-align: center;
  text-decoration: none;
  list-style: none;
}
