.courses{
  padding-left: 2rem;
  padding-right: 2rem;
}
.course {
  display: block;
}
.co-head {
  text-align: left;
  padding-top: 0rem;
}
.form{
  width:95%;
  padding: 1rem;border-radius: 5px;
}
.copy p {
  font-size: 1rem;
}
#our-team {
  color: white;
  width: 100%;
  padding-bottom: 1rem;
}
.our-staffs{
  display: block;
  width: 100%;
 
}
#st-img {
  display:flex; 
  padding: 2rem;
  background: black;
  border-radius: 0.5rem;
}
.st-img div{
   flex: 1; 
}
.list{
  display: block;
  justify-content: center;
}
