*{
    margin:0;
    padding: 0;
}
body{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;
  overflow: hidden;
}
a{
  text-decoration: none;
  color: rgb(62, 255, 107);
}
#showcase{
  background:rgba(47, 42, 47, 0.6);
  height: 100vh;
  position: relative;
 
  }
#showcase::before{
  content: '';
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: url('../img/jason-leung-AxKqisRPQSA-unsplash.jpg')
  no-repeat center center/cover;
  z-index: -1;
}
#showcase .container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: rgb(0, 0, 0);
  height: 100%;
}
h1{
  text-shadow: 5px 5px 2px orange;
}
p{
  color: teal;
  font-size: 1.2rem;
  margin-top: 0.7rem;
}
.container a{
  display: inline-block;
  margin-top: 1rem;
  background:rgb(0, 0, 0);
  padding: 0.5rem 1rem;
  border-radius: 4px;
  transition: opacity 0.75 ease-in;
}
.container a:hover{
  opacity: 0.7;
}
